@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js"
              asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </environment>

</head>
<body>

@inject SignInManager<IdentityUser> SignInManager
@if (IsSectionDefined("Headers"))
{
    @RenderSection("Headers", required: false)
}
else
{
    <p>Header should be here</p>
}
@if (SignInManager.IsSignedIn(User))
{
    <div>Logged as <h3>@User.Identity.Name</h3></div>
    <a class="btn" asp-controller="Account" asp-action="Logoff">Logout</a>
}
else
{
    <a class="btn" asp-controller="Account" asp-action="Login">Login</a>
}

<div class="container">
    @RenderBody()
</div>

@if (IsSectionDefined("Footers"))
{
    @RenderSection("Footers", required: false)
}
else
{
    <p>Footer should be here</p>
}

</body>
</html>