@model WebApp.ViewModels.ProductIndexViewModel

@{
    ViewBag.Title = "Products";
}

<div>
    <table>
        @foreach (var p in Model.Products)
        {
            <tr>
                <td>@p.ProductId</td>
                <td>@p.ProductName</td>
                <td>@p.Category?.CategoryName</td>
                <td>@p.UnitPrice</td>
                <td>@p.Supplier?.ContactName</td>
            </tr>
        }
    </table>
    <a asp-action="Create">Add a Product</a>
</div>